<div id="container" ng-controller="indexCtrl">
    <h1 class="center title">User Menu</h1>
    <hr />
    <table class="pure-table center tableList" width="100%">
        <thead>
            <tr class="center">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Group</th>
                <th>Avatar</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-class-odd="'pure-table-odd'" *ngFor="let displayuser of Users">
                <td>{{displayuser.id}}</td>
                <td>{{displayuser.name}}</td>
                <td>{{displayuser.email}}</td>
                <td>{{displayuser.group}}</td>
                <td>{{displayuser.imgpath}}</td>
            </tr>
        </tbody>
    </table>

    <hr />

    <form >
        <label for="id">id</label>
        <input type='text' [(ngModel)] = 'userData.id' placeholder="ID" name='id'> <br>
        <label for="name">Name</label>
        <input type='text' [(ngModel)] = 'userData.name' placeholder="Name" name='name'><br>
        <label for="password">Password</label>
        <input type='password' [(ngModel)] = 'userData.password' placeholder="Password" name='password'><br>
        <label for="email">Email</label>
        <input type='text' [(ngModel)] = 'userData.email' placeholder="Email" name='email'><br>
        <label for="group">Group</label>
        <input type='text' [(ngModel)] = 'userData.group' placeholder="Group" name='group'><br>
        <label for="imgpath">ImgPath</label>
        <input type='text' [(ngModel)] = 'userData.imgpath' placeholder="Image Path" name='imgpath'><br>
        <a *ngIf = "this.usergroup == 'super'">Please fill in all details to add a user</a><br>
        <button (click) = "addUser()" *ngIf = "this.usergroup == 'super'">Add User</button><br>
        <a *ngIf = "this.usergroup == 'super'">Please put in the name and id of the user to delete</a><br>
        <button (click) = "delUser()" *ngIf = "this.usergroup == 'super'">Delete User</button><br>
        <a>Please put in the name and id of the user to update</a><br>
        <button (click) = "upUser()">Update User</button><br>
      </form>
</div>