<div>
<div >
<h1 >Angular Chat Application</h1>

<div>
  <form>
    <input *ngIf = "!isLoggedin()" type='text' [(ngModel)] = 'loginData.name' placeholder="Name" name='name'>
    <input *ngIf = "!isLoggedin()" type='password' [(ngModel)] = 'loginData.password' placeholder="password" name='password'>
    <button *ngIf = "!isLoggedin()" (click) = "login()">Log In</button>
  </form>
</div>
</div>

<div >
  <button (click) = "logOut()" >Log Out</button>
</div>


</div>
<router-outlet></router-outlet>
